body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 10px;
}
